 <mat-card class="card" *ngIf="nmsps != undefined">
<mat-card-title style="text-align: center;">Services</mat-card-title>
<mat-card-subtitle style="text-align: center;">check services</mat-card-subtitle>

<mat-card-content>
  <h2 style="text-align: center;">
    Details:
 </h2>
 <h3 style="text-align:left;">Namespace Name : {{nmsps.namespace}}</h3>

  <mat-selection-list >
    <mat-list-option *ngFor="let i of nmsps.services;" (click)="onselectNamespace(i.services)">
      {{i}}
    </mat-list-option>
    {{services}}
  </mat-selection-list>
</mat-card-content>
<mat-card-actions></mat-card-actions>
<mat-card-footer></mat-card-footer>
</mat-card>
<div class="col-lg-4">
  <aap-services [i.services] = "selectedserv"></aap-services>
</div>