<div fxLayout="row" fxLayoutAlign="space-around end">
  <div class="col-sm">
        <mat-card >
            <mat-card-title style="text-align: center;"> <img src="../../../assets/question.jpg" width="60" height="60"></mat-card-title>
            <mat-card-content>
              <h2 style="text-align: center;">Have a question?</h2>
              <h3 style="text-align: center;">We have an answer.</h3>
              <h2 style="text-align: center;"><a href="" ><b><u>Help Centre</u></b></a>  </h2>
            </mat-card-content>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card>
            <mat-card-title style="text-align: center;"> <img src="../../../assets/contact.jpg" width="60" height="60"> </mat-card-title>
            <mat-card-content>
              
<h2 style="text-align: center;">Call Scotiabank</h2>
<ul style="text-align: center;">1.800.4SCOTIA</ul>

<h3 style="text-align: center;"><a href="" ><b><u>More Phone Numbers</u></b></a>
</h3>
             </mat-card-content>
          </mat-card>
      </div>
      <div class="col-sm">
        <mat-card>
            <mat-card-title style="text-align: center;"><img src="../../../assets/Message.png" width="60" height="60"> </mat-card-title>
            <mat-card-content>
              <h2 style="text-align: center;">  <b> Talk to us on Twitter </b></h2>
              <h3 style="text-align: center;">   8am – 11pm ET 7 days/week </h3> 
              <h2 style="text-align: center;"> <a href=""> <b><u>@ScotiabankHelps</u></b></a></h2>
            </mat-card-content>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card>
            <mat-card-title style="text-align: center;">
           <a href="#"><img src="../../../assets/instagram.jpg" width="60" height="60"></a> 
           <a href="#"><img src="../../../assets/youtube.png" width="60" height="60"></a> 
           <a href="#"><img src="../../../assets/linkedin.png" width="60" height="60"></a> 
           <a href="#"><img src="../../../assets/facebook.png" width="60" height="60"></a> 
           <a href="#"><img src="../../../assets/twitter.jpg" width="60" height="60"></a> 
            </mat-card-title>
            <mat-card-content></mat-card-content>
        </mat-card>
      </div>
        </div>
      